extends layout

block content
	div.container
		h1 Login
		form(action='/login', method='post')
			if message
				p #{message}
			div.row
				div.col-md-12.form-group
					label(for='username') Email
					input.form-control(type='email', placeholder='Email', id='username', name='username', required)
				div.col-md-12.form-group
					label(for='password') Password
					input.form-control(type='password', placeholder='Password', id='password', name='password', required)
				div.col-md-12.form-group
					input.btn.btn-lg.col-md-2(type='submit', value='Login')
					a.btn.btn-default.btn-lg.col-md-2(href='/signup') Register
					